MLFLOW_URI=http://localhost:8080
DATASET_DIR="C:\Users\Josue\My Drive\Datasets\Frame Classification"
DATA_SNAPSHOT_DIR="C:\Users\Josue\Documents\Github Repositories\iamedic\frame-classification-model\data_snapshots\2025-10-28"
MLFLOW_USER=jlaszeski